# Copy this file to auth.conf

# Register your product at https://developers.nest.com/products and fill in your product details
nest.auth {
  productId = "Your Product Id"
  productSecret = "Your Product Secret"
}

# Register your project at https://console.developers.google.com
# Then register OAuth 2.0 client IDs and fill in your credentials
google.auth {
  clientId = "Your Client Id"
  clientSecret = "Your Client Secret"
}
